@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
   
}
body{
    background-color: papayawhip;

}
.logo img{
    height:4.2rem;
}
.heading{
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
    height:12vh;
    position: fixed;
    top:0;
    left:50%;
    transform:translatex(-50%);

}
.navlist {
    display:flex;
    gap: 2.3rem;
}
.navlist{
   font-family:Arial, Helvetica, sans-serif;
    
}

.navlist li {
    
    list-style:none;
}

.navlist a{
    color: black;
    text-decoration: none;
    font-size:1.2rem;
    letter-spacing: .07rem;
}
.navlist .slider{
    background-color: rgba(255, 255, 255,0.345);
    width:6rem;
    height: 4.5rem;
    position: absolute;
    top: 0;
    right: 470px;
    border-top: .3rem solid #2c1e1e;
    border-radius: 0 0 2rem 2rem;
    backdrop-filter: blur(.5rem);
    z-index: -1;
    transition: .5s ease-in-out

    
}
.navlist li:nth-child(2):hover ~ .slider{
    right: 360px;
}
.navlist li:nth-child(3):hover ~ .slider{
    right:234px;
}
.navlist li:nth-child(4):hover ~ .slider{
    right:107px;
}
.navlist li:nth-child(5):hover ~ .slider{
    right: -10px;
}



.heading h1{
    font-size: 50px;
    color:black;
    margin-bottom: 25px;
    position: relative;
}
.heading h1:after{
    content:"";
    position:absolute;
    width:100%;
    height:4px;
    display:block;
    margin:0 auto;
    background-color: pink;

}
.heading p{
    font-size: 18px;
    color:#666;
    margin-bottom: 35px;
}
.container{
    width:90%;
    margin:0 auto;
    padding:10px 20px;
}
.about{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex:1;
    margin-right: 40px;
    overflow: hidden;
    width: 400px;
    height: 400px;

}
.about-image img{
    max-width:  90%;
    height:auto;
    display:block;
    transition:0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex:1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom:15px;
    color:black;

}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color:#666;
}

.about-content .read-more{
    display:inline-block;
    padding:10px 20px;
    background-color: pink;
    color:#fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-image:hover img{
    transform: scale(1.2);
    margin-bottom: 15px;
    color:#333;
}
.about-content .read-more:hover{
    background-color: palevioletred;
}
@media screen and (max-width:768px){
    .heading{
        padding:0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size:17px;
        margin-bottom: 0px;

    }
    .container{
        padding:0px;

    }
    .about{
        padding:20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;

    }
    .about-content p{
        padding:0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}

       